    <div data-controller="home">
        <header class="bg-red-600 text-white p-4">
            <h1 class="text-3xl font-bold">Orders</h1>
        </header>
        <div>
            <%= form_with url: home_index_path, method: :get do %>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-4">
                            <%= label_tag :start_date, "Start Date" %>
                            <%= text_field_tag :start_date, params[:start_date], class: "form-control" %>
                        </div>
                        
                        <div class="col-md-4">
                            <%= submit_tag "Filter", class: "btn btn-primary mt-4" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
       <div class="container mt-4">
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Order Date</th>
                <th scope="col">Total Price</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                <tr>
                    <td data-utc-time="<%= order.dateordered %>"></td>
                    <td><%= number_to_currency(order.price_total) %></td>
                    <td>
                    <a href="/orders/<%= order.id %>" class="btn btn-primary">View Order</a>
                    </td>
                </tr>
                <% end %>
            </tbody>
            </table>
        </div>
        
           
    </div>




