<div data-controller="format addpizza">
    <header class="p-4">
        <h1 class="text-3xl font-bold">Order Details</h1>
        <h4 data-utc-time="<%= @order.dateordered %>" class="text-xl font-bold"></h4>
    </header>
    <div class="ms-4 mt-4">
        <table class="table w-50 ">
            <tbody>
                <tr>
                    <th>Placed Employee</th>
                    <td><%= @order.order_employee.name %></td>
                </tr>
                <tr>
                    <th>Delivery Employee</th>
                    <td id="order-employee">
                        <%= @order.delivery_employee&.name ? @order.delivery_employee.name : "not delivery"%>
                    </td>
                </tr>
                <tr>
                    <th>Total Price</th>
                    <td><%= number_to_currency(@order.price_total) %></td>
                </tr>
            </tbody>
        </table>
        <h5 class="mt-4" >Pizza Details</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Size</th>
                    <th>Cheese</th>
                    <th>Sauce</th>
                    <th>Toppings</th>
                </tr>
            </thead>
            <tbody>
                <% @order.pizzas.each do |pizza| %>
                    <tr>
                        <td><%= pizza.size.size %></td>
                        <td><%= pizza.cheese.name %></td>
                        <td><%= pizza.sauce.name %></td>
                        <td>
                            <ul>
                                <% pizza.toppings.each do |topping| %>
                                    <li><%= topping.name %></li>
                                <% end %>
                            </ul>
                        </td>
                        <td>
                            <button class="btn btn-warning" data-action="addpizza#editPizza" data-pizza="<%= pizza.to_json %>">Edit</button>
                            <button class="btn btn-danger" data-action="click->format#deletePizza" data-id="<%= pizza.id %>">Delete</button>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= render 'shared/pizza_modal' %>
    </div>

</div>
